.container {
	padding-top: 50px;
	padding-bottom: 100px;
}

html {
	font-family: 'Noto Sans', sans-serif;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

/*.card {
	z-index: -1;
}
*/

.nav-wrapper {	
	background-color: #235678; 
	padding: 0px 150px 0px 150px;
}

.card .card-image img {
/*	z-index: -1;*/
}

nav {
	height: 100px;
}

.error-block {
	color: red;
}

#brand-pic {
	height: 90px;
}

.brand-logo {
	padding-top: 5px !important;
}

.cardpanel-research {
	padding: 15px 15px 15px 15px;
}

/*nav ul li{
	height: 100px !important;
}*/

#nav-mobile > li > a {
	line-height: 100px;
}

.lineheight-sm > li > a
{
	line-height: 2px;
}

.search-btn {
	line-height: 50px !important;
}

/*.add-post {
	height: 100%;
	width: 100%;
	border: 1px dashed #000;
}
*/
/*.input-field input[type=search] {
	margin-top: 15px;
}

.input-field input[type=search]:focus {
	background-color: transparent;
	color: #fff;
}*/

.nav-prof ul{
	list-style: none;
	background-color: transparent;
	text-align: center;
	padding: 0;
	margin: 0;
}

.nav-prof li {
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	background-color: #235678;
	display: inline-block;
	border: 1px solid #235678;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #235678;
	padding: 0px 15px 0px 15px;
	margin: 0px 10px 0px 10px;
}

.nav-prof a {
	color: #fff;
}

.nav-prof i {
	color: #fff;
	padding-right: 10px;
}

.ideas-profile, .research-profile {
	display: none;
}

.board-profile {
	padding-top: 10px;
}

.center-form {
	margin: 0 auto;
}

.no-pads {
	margin: 0;
}

#profile-li {
	display: none;
}

#notif-li {
	display:none;
}

.pinterest-col {
	-webkit-column-count: 3;
	-webkit-column-gap:10px;
	-webkit-column-fill:auto
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.fixed-len .input{
	width: 100%;
	color: #fff !important;
}

.search-auto {
	width: 300px;
}

.dropdown-content li > a {
	height: 100%;
}

.dropdown-content {
	min-width: 145px !important;
}

/*.dropdown-content li > a >i {
	height: 100% !important;
}*/

.dropdown-button:hover {
	background-color: inherit;
}

.rm-margin {
	margin-left: 0px !important;
}



/*.dropdown-content li {
	margin:auto;
	display: block;
}*/