.container {
	padding-top: 50px;
	padding-bottom: 100px;
}

.card {
	z-index: -1;
}

.nav-wrapper {	
	background-color: #235678; 
	padding: 0px 150px 0px 150px;
}

.card .card-image img {
/*	z-index: -1;*/
}

nav {
	height: 100px;
}

.error-block {
	color: red;
}

#brand-pic {
	height: 90px;
}

.brand-logo {
	padding-top: 5px !important;
}

.cardpanel-research {
	padding: 15px 15px 15px 15px;
}

nav ul li{
	height: 100px !important;
}

#nav-mobile li a {
	line-height: 100px;
}

.search-btn {
	line-height: 50px !important;
}

/*.add-post {
	height: 100%;
	width: 100%;
	border: 1px dashed #000;
}
*/
/*.input-field input[type=search] {
	margin-top: 15px;
}

.input-field input[type=search]:focus {
	background-color: transparent;
	color: #fff;
}*/

.nav-prof {
	padding: 0px 220px 0px 350px !important;
}