.btn-jumbo
{
	width: 250px;
	height: 80px;
	line-height: 80px;
	font-size: 130%;
	font-weight: bold;
}

.home-bg-1
{
	padding-top: 130px;
	min-height: 510px;
	/*background-repeat: repeat-x;*/
	background-size: 145%;
	background-position: center;
}

.home-bg-2
{
	/*background-color: rgba(0,0,0,1);*/
	padding-top: 150px;
	min-height: 510px;
	/*background-repeat: repeat-x;*/
	background-size: 100%;
	background-position: center;
}

.home-text-1
{
	font-size: 40px;
	color: white;
}

.row-no-margin
{
	margin-bottom: 0;
}

.separator-black
{
	background-color: black;
	width: 100%;
	min-height: 4px;
}